body{
    background-color: #333;
    color: #efefef;
}
 
.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
    border: 15px solid rgb(241, 129, 0);
    border-radius: px;

}
h2{
    color: greenyellow;
}
.titulo{
    text-align: center;
}
#nome{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 42px;
    background-color: orange;
}

.botao{
    width: 100%;
    height: 70px;
    font-size: 19px;
    cursor: pointer;
    background-color: rgb(250, 186, 67);
    color: black;
    font-weight: bold;
}
.botao:active{
    background-color: rgb(199, 132, 7);
    color: black;
    box-shadow: -1px 5px  orange;
}
.mostra1{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to top, orange, rgba(255, 255, 0, 0.726));
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 2px;
 
}
span{
    margin: 0 auto;

}
.rodape{
  text-align: center;
  color: rgb(155, 147, 147);
  font-size: 11px;
}
@media only screen and (max-width: 410px) {
    .container{
        width: 100%;
    }   

}